<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Dashboard</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Worker Dashboard</h1>
    <a href="{% url 'worker:register_item' %}"><button>REGISTER ITEM</button></a>
    <h2>Items</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Fill Report</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td><a href="{% url 'worker:fill_report' %}"><button>Fill Report</button></a></td>
            <td><a href="{% url 'worker:update_item' item.id %}"><button>UPDATE</button></a></td>
            <td><a href="{% url 'worker:delete_item' item.id %}"><button>DELETE</button></a></td>
            
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
