<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ branch.name }} Reports</title>
</head>
<body>
    <h1>{{ branch.name }} Reports</h1>
    <ul>
        {% for report in reports %}
            <li>{{ report.item.worker.first_name }} {{ report.item.worker.last_name }} - {{ report.date }}</li>
                <strong>Date:</strong> {{ report.date }}<br>
                <strong>Item:</strong> {{ report.item.name }}<br>
                <strong>Last Stock:</strong> {{ report.laststock }}<br>
                <strong>Present:</strong> {{ report.present }}<br>
                <strong>Consumed:</strong> {{ report.consumed }}<br>
                <strong>Entered:</strong> {{ report.entered }}<br>
                <strong>Remaining:</strong> {{ report.remaining }}<br>
                <strong>Income Spent:</strong> {{ report.incomespent }}<br>
                <strong>Income Gained:</strong> {{ report.incomegained }}<br>
                <strong>Expenditures:</strong> {{ report.expenditures }}<br>
        {% endfor %}
    </ul>
    <a href="{% url 'manager:dashboard' %}">Back to Dashboard</a>
</body>
</html>
