{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <a href="{%url 'home'%}">HOME</a>
    <h1>{% trans "Manager Dashboard" %}</h1>
    <h2>{% trans "Branches" %}</h2>
    <a href="{% url 'manager:register_branch' %}"><button>{% trans "Register Branch" %}</button></a>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for branch in branches %}
        <tr>
            <td>{{ branch.name }}</td>
            <td><a href="{% url 'manager:branch_reports' branch.id %}">{% trans "Report" %}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>{% trans "Workers" %}</h2>
    <a href="{% url 'manager:register_worker' %}"><button>{% trans "Register Worker" %}</button></a>
    <table>
        <tr>
            <th>Names</th>
            <th>Actions</th>
        </tr>
        {% for worker in workers %}
        <tr>
            <td>{{ worker.first_name }} {{ worker.last_name }}</td>
            <td><a href="{% url 'manager:unregister_worker' worker.id %}">{% trans "Unregister" %}</a></td>
        </tr>  
        {% endfor %}
    
    
</body>
</html>
